@font-face {
  font-family: "iconfont"; /* Project id 3516158 */
  src: url('iconfont.woff2?t=1657604835734') format('woff2'),
       url('iconfont.woff?t=1657604835734') format('woff'),
       url('iconfont.ttf?t=1657604835734') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-danxuan:before {
  content: "\e71f";
}

.icon-icon-:before {
  content: "\e62e";
}

.icon-duoxuanxuanzhong_o:before {
  content: "\eb5f";
}

.icon-shitujuzhen_o:before {
  content: "\eb85";
}

.icon-liangbiao:before {
  content: "\e60a";
}

