<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdsbbmq.wjxbx.dao.AttributionEntityMapper">
    <!--查询-->


    <!--增删改-->

    <!--插入属性-->
    <insert id="insertAttribution" parameterType="AttributionEntity">
        INSERT INTO attribution (parent_id, child_id, child_type, content)
        VALUES (#{parentId}, #{childId}, #{childType}, #{content})
    </insert>

    <!--复制某父结点下的所有子结点到新的父结点下-->
    <insert id="insertCopyAttribution" parameterType="AttributionEntity">
        INSERT INTO attribution (parentId, childId, childType, content)
        SELECT #{childId}, childId, childType, content
        FROM attribution
        WHERE parent_id = #{parentId}
    </insert>

    <!-- 更新将原先父节点的子节点放到新的父节点上 -->
    <update id="updateAttributionOnParent" parameterType="AttributionEntity">
        UPDATE attribution
        SET parent_id = #{parentId}
        WHERE child_id = #{childId}
    </update>
    <delete id="deleteAttributionOnParent" parameterType="attributionEntity">
        DELETE
        FROM attribution
        WHERE parent_id = #{parentId}
    </delete>

    <resultMap id="AttributionEntityMap" type="attributionEntity">
        <id property="parentId" column="parent_id"/>
        <id property="childId" column="child_id"/>
        <result property="childType" column="child_type"/>
        <result property="content" column="content"/>
    </resultMap>


</mapper>
