<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdsbbmq.wjxbx.dao.FileEntityMapper">
    <insert id="insertFile" parameterType="FileEntity">
        INSERT INTO file (id, file_name, creation_date, created_by, last_update_date, parent_id)
        VALUES (#{id}, #{fileName}, #{creationDate}, #{createdBy}, #{lastUpdateDate}, #{parentId})
    </insert>
    <update id="updateFile">
        UPDATE file
        SET file_name        = #{fileName},
            last_update_date = NOW(),
        WHERE id = #{id}
    </update>
    <delete id="deleteFile">
        DELETE FROM file
        WHERE id = #{id}
    </delete>
</mapper>
