<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdsbbmq.wjxbx.dao.ProjectEntityMapper">

    <!--
       功能实现
   -->

    <!--查询-->
    <!--查询用户下方所有项目-->
    <select id="selectAllProject" resultType="projectEntity" parameterType="string">
        select *
        from project
        where user_id = #{userId}
    </select>
    <!--根据ID查询用户下方所有收藏项目-->
    <select id="selectProjectById" resultType="ProjectEntity">
        select *
        from project
        where id = #{id}
    </select>
    <!--根据ID查询用户下方所有收藏项目-->
    <select id="selectProjectByName" resultType="com.jdsbbmq.wjxbx.dao.entity.ProjectEntity">
        select *
        from project
        where project_name = #{projectName}
    </select>
    <!--根据分页搜寻项目-->
    <select id="selectProjectByPage" parameterType="QueryEntity" resultType="ProjectEntity">
        SELECT *,
        (SELECT COUNT(*) FROM questionnaire WHERE project.id = questionnaire.project_id) AS questionnaire_count
        FROM project
        <if test="type == null">
            WHERE deleted = 0
        </if>
        <if test="type != null">
            WHERE ${type} = 1
        </if>
        AND project_name LIKE CONCAT('%', #{searchKeyWord}, '%')
        ORDER BY ${sortType} ${sort}
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <!--增删改-->

    <!--插入项目-->
    <insert id="insertProject" parameterType="projectEntity">
        insert into project
        (id, user_id, project_name, project_content, created_by, creation_date, last_updated_by, last_update_date,
         questionnaire_count, star, deleted)
        values (#{id}, #{userId}, #{projectName}, #{projectContent}, #{createdBy}, #{creationDate}, #{lastUpdatedBy},
                #{lastUpdateDate}, #{questionnaireCount}, #{star}, #{deleted})
    </insert>

    <!--更新项目-->
    <update id="updateProject" parameterType="projectEntity">
        update project
        set project_name     = #{projectName},
            project_content  = #{projectContent},
            last_updated_by  = #{lastUpdatedBy},
            last_update_date = #{lastUpdateDate}
        where id = #{id}
    </update>

    <!--更新项目为收藏项目-->
    <update id="updateStarOnProject">
        update project
        set star = 1,
            last_update_date = NOW()
        where id = #{id}
    </update>

    <!--更新项目为非收藏项目-->
    <update id="updateStarOffProject">
        update project
        set star = 0,
            last_update_date = NOW()
        where id = #{id}
    </update>
    <!--更新项目为删除项目-->
    <update id="updateDeleteOnProject">
        update project
        set deleted = 1,
            last_update_date = NOW()
        where id = #{id}
    </update>
    <!--更新项目为非删除项目-->
    <update id="updateDeleteOffProject">
        update project
        set deleted = 0,
            last_update_date = NOW()
        where id = #{id}
    </update>

    <!--删除项目-->
    <delete id="deleteProjectById">
        delete
        from project
        where id = #{id}
    </delete>
    <!--清空回收站-->
    <delete id="deleteAllProjectRecycled">
        delete
        from project
        where deleted = 1 and user_id = #{userId}
    </delete>

    <!--
       resultMap
   -->
    <resultMap id="projectEntityMap" type="com.jdsbbmq.wjxbx.dao.entity.ProjectEntity">
        <id property="id" column="id"/>
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="projectName" column="project_name"/>
        <result property="projectContent" column="project_content"/>
        <result property="createdBy" column="created_by"/>
        <result property="creationDate" column="creation_date"/>
        <result property="lastUpdatedBy" column="last_updated_by"/>
        <result property="lastUpdateDate" column="last_update_date"/>
        <result property="questionnaireCount" column="questionnaire_count"/>
        <result property="star" column="star"/>
        <result property="deleted" column="deleted"/>
    </resultMap>
</mapper>
