<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdsbbmq.wjxbx.dao.ProjectEntityMapper">

    <!--
       功能实现
   -->

    <!--查询-->
    <!--查询用户下方所有项目-->
    <select id="selectAllProject" resultType="projectEntity" parameterType="string">
        select *
        from project
        where user_id = #{userId}
    </select>
    <select id="selectProjectById" resultType="ProjectEntity">
        select *
        from project
        where id = #{id}
    </select>
    <select id="selectProjectByName" resultType="com.jdsbbmq.wjxbx.dao.entity.ProjectEntity">
        select *
        from project
        where project_name = #{projectName}
    </select>

    <!--增删改-->

    <!--插入项目-->
    <insert id="insertProject" parameterType="projectEntity">
        insert into project
        (id, user_id, project_name, project_content,created_by, creation_date, last_updated_by, last_update_date)
        values
        (#{id}, #{userId}, #{projectName}, #{projectContent}, #{createdBy}, #{creationDate}, #{lastUpdatedBy}, #{lastUpdateDate})
    </insert>

    <!--更新项目-->
    <update id="updateProject" parameterType="projectEntity">
        update project
        set id = #{id},
            user_id = #{userId},
            project_name = #{projectName},
            project_content = #{projectContent},
            created_by = #{createdBy},
            creation_date = #{creationDate},
            last_updated_by = #{lastUpdatedBy},
            last_update_date = #{lastUpdateDate}
        where id = #{id}
    </update>

    <delete id="deleteProjectById">
        delete
        from project
        where id = #{id}
    </delete>

    <!--
       resultMap
   -->
    <resultMap id="projectEntityMap" type="com.jdsbbmq.wjxbx.dao.entity.ProjectEntity">
        <id property="id" column="id"/>
        <result property="id"  column="id"/>
        <result property="userId"  column="user_id"/>
        <result property="projectName"  column="project_name"/>
        <result property="projectContent"  column="project_content"/>
        <result property="createdBy"  column="created_by"/>
        <result property="creationDate"  column="creation_date"/>
        <result property="lastUpdatedBy"  column="last_updated_by"/>
        <result property="lastUpdateDate"  column="last_update_date"/>
    </resultMap>
</mapper>
