<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdsbbmq.wjxbx.dao.QuestionnaireEntityMapper">
    <!--
     功能实现
    -->

    <!--查询-->
    <!--查询项目下方的所有问卷-->
    <select id="selectAllQuestionnaire" resultType="QuestionnaireEntity">
        select *
        from questionnaire
        where project_id = #{id}
    </select>

    <!--根据ID查询问卷-->
    <select id="selectQuestionnaireById" resultType="QuestionnaireEntity">
        select *
        from questionnaire
        where id = #{id}
    </select>

    <!--根据项目ID查询问卷-->
    <select id="selectQuestionnaireByPage" parameterType="queryEntity" resultType="QuestionnaireEntity">
        SELECT *
        FROM questionnaire
        <if test="type == null">
            WHERE deleted = 0
        </if>
        <if test="type == 'star'">
            WHERE ${type} = 1 AND deleted = 0
        </if>
        <if test="type == 'deleted'">
            WHERE ${type} = 1
        </if>
        AND questionnaire_name LIKE CONCAT('%', #{searchKeyWord}, '%')
        AND project_id = #{id}
        ORDER BY ${sortType} ${sort}
        LIMIT #{pageSize} OFFSET #{offset}
    </select>


    <!--增删改-->

    <!--插入问卷-->
    <insert id="insertQuestionnaire">
        insert into questionnaire
        (id, project_id, questionnaire_name, questionnaire_description, creation_date, start_time, end_time,
         question_count, answer_count, star, deleted)
        values (#{id}, #{projectId}, #{questionnaireName}, #{questionnaireDescription}, #{creationDate}, #{startTime},
                #{endTime}, #{questionCount}, #{answerCount}, #{star}, #{deleted})
    </insert>

    <!--更新问卷-->
    <update id="updateQuestionnaire">
        update questionnaire
        <set>
            <if test="questionnaireName != null">questionnaire_name = #{questionnaireName},</if>
            <if test="questionnaireDescription != null">questionnaire_description = #{questionnaireDescription}</if>
        </set>
        where id = #{id}
    </update>

    <!--更新问卷的收藏星级-->
    <update id="updateStarOnQuestionnaire">
        update questionnaire
        set star = 1
        where id = #{id}
    </update>
    <!--更新取消问卷的收藏星级-->
    <update id="updateStarOffQuestionnaire">
        update questionnaire
        set star = 0
        where id = #{id}
    </update>
    <!--更新问卷的删除状态-->
    <update id="updateDeletedOnQuestionnaire">
        update questionnaire
        set deleted = 1
        where id = #{id}
    </update>
    <!--更新取消问卷的删除状态-->
    <update id="updateDeletedOffQuestionnaire">
        update questionnaire
        set deleted = 0
        where id = #{id}
    </update>
    <!--更新问卷的发布状态-->
    <update id="updateReleaseQuestionnaire">
        update questionnaire
        set start_time=NOW()
            end_time=null
        where id = #{id}
    </update>
    <!--更新问卷的回收状态-->
    <update id="updateReclaimQuestionnaire">
        update questionnaire
        set start_time=null
            end_time=NOW()
        where id = #{id}
    </update>

    <!--删除问卷-->
    <delete id="deleteQuestionnaireById">
        delete
        from questionnaire
        where id = #{id}
    </delete>
    <delete id="deleteAllQuestionnaireRecycled">
        delete
        from questionnaire
        where deleted = 1 AND project_id = #{id}
    </delete>

    <!--
       resultMap
   -->
    <resultMap id="QuestionnaireEntityMap" type="QuestionnaireEntity">
        <id property="id" column="id"/>
        <result property="projectId" column="project_id"/>
        <result property="questionnaireName" column="questionnaire_name"/>
        <result property="questionnaireDescription" column="questionnaire_description"/>
        <result property="creationDate" column="creation_date"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="questionCount" column="question_count"/>
        <result property="answerCount" column="answer_count"/>
        <result property="star" column="star"/>
        <result property="deleted" column="deleted"/>
    </resultMap>
</mapper>
