<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdsbbmq.wjxbx.dao.QuestionEntityMapper">
    <!--查询-->

    <!--根据所给的问题Id删除问题-->
    <select id="selectQuestionById" resultType="QuestionEntity">
        SELECT *
        FROM questionnaire_question
        WHERE questionnaire_id = #{id}
        ORDER BY sequence asc
    </select>

    <!--查询私人题库中的问题-->
    <select id="selectPrivateQuestion" resultType="QuestionEntity">
        SELECT *
        FROM question
        WHERE user_id = #{userId}
    </select>


    <!--增删改-->

    <!--设计问卷中的问题-->
    <insert id="insertDesignQuestion" parameterType="java.util.List">
        INSERT INTO questionnaire_question (questionnaire_id, sequence, star, question_content, question_id)
        VALUES
        <foreach item="item" collection="questionEntityList" separator=",">
            (#{item.id}, #{item.sequence}, #{item.star}, #{item.questionContent}, #{item.questionId})
        </foreach>
        ON DUPLICATE KEY UPDATE
        questionnaire_id = VALUES(questionnaire_id),
        sequence = VALUES(sequence),
        star = VALUES(star),
        question_content = VALUES(question_content)
    </insert>

    <update id="updateQuestionnaireQuestions" parameterType="java.util.List">
        DELETE q
        FROM questionnaire_question q
        LEFT JOIN (
        <foreach item="item" collection="questionEntityList" separator="UNION ALL">
            SELECT #{item.id} AS questionnaire_id, #{item.sequence} AS sequence,
            #{item.star} AS star, #{item.questionContent} AS question_content,
            #{item.questionId} AS question_id
        </foreach>
        ) i ON q.questionnaire_id = i.questionnaire_id AND q.question_id = i.question_id
        WHERE q.questionnaire_id = #{questionEntityList[0].id} -- Assuming the first item in the list contains the
        questionnaire ID
        AND i.questionnaire_id IS NULL;

        INSERT INTO questionnaire_question (questionnaire_id, sequence, star, question_content, question_id)
        SELECT questionnaire_id, sequence, star, question_content, question_id
        FROM (
        <foreach item="item" collection="questionEntityList" separator="UNION ALL">
            SELECT #{item.id} AS questionnaire_id, #{item.sequence} AS sequence,
            #{item.star} AS star, #{item.questionContent} AS question_content,
            #{item.questionId} AS question_id
        </foreach>
        ) i
        ON DUPLICATE KEY UPDATE
        sequence = VALUES(sequence),
        star = VALUES(star),
        question_content = VALUES(question_content);
    </update>


    <!--将问题加入私人题库-->
    <insert id="insertPrivateQuestion">
        INSERT INTO question (user_id, question_id, question_content)
        VALUES (#{id}, #{questionId}, #{questionContent})
    </insert>
    <!--增加答卷-->
    <insert id="insertAnswer">
        INSERT INTO questionnaire_answer (id, user_id,questionnaire_id,questionnaire_content)
        VALUES (#{id}, #{userId}, #{questionnaireId}, #{questionnaireContent})
    </insert>
    <insert id="insertQuestion">
        INSERT INTO questionnaire_question(questionnaire_id, sequence, star, question_content, question_id)
        VALUES (#{id}, #{sequence}, #{star}, #{questionContent}, #{questionId})
    </insert>


    <!--根据所给的问卷Id删除问卷中的问题-->
    <delete id="deleteQuestionById">
        DELETE
        FROM questionnaire_question
        WHERE questionnaire_id = #{id}
    </delete>

    <delete id="deletePrivateQuestionById">
        DELETE
        FROM question
        WHERE question_id = #{questionId}
    </delete>

    <!--删除列表中没出现的问题ID-->
    <delete id="deleteQuestionNotInList" parameterType="java.util.List">
        <if test="list != null and list.size() > 0">
        DELETE FROM questionnaire_question
        <where>
                questionnaire_id = #{list[0].id} -- Assuming the first item in the list contains the questionnaire ID
                AND question_id NOT IN
                <foreach item="item" collection="list" separator="," open="(" close=")">
                    #{item.questionId}
                </foreach>

        </where>
        </if>
    </delete>


    <!--辅助功能-->

    <!--根据所给的问题Id找到问题内容-->
    <select id="selectQuestionContentById" resultType="java.lang.String">
        SELECT question_content
        FROM questionnaire_question
        WHERE question_id = #{questionId}
    </select>
    <!--查询所有答卷-->
    <select id="selectAllAnswer" resultType="AnswerEntity">
        SELECT *
        FROM questionnaire_answer
        WHERE questionnaire_id = #{questionnaireId}
    </select>
    <select id="selectAllPrivateQuestion" resultType="QuestionEntity">
        SELECT *
        FROM questionnaire_question
        WHERE questionnaire_id = #{id} AND star = 1
    </select>

    <update id="updateStarOnQuestion">
        UPDATE questionnaire_question
        SET star = 1
        WHERE question_id = #{questionId}
    </update>
    <update id="updateStarOffQuestion">
        UPDATE questionnaire_question
        SET star = 0
        WHERE question_id = #{questionId}
    </update>
    <!--更新问题的数量-->
    <update id="updateQuestionnaireQuestionCount" parameterType="questionnaireEntity">
        UPDATE questionnaire
        SET question_count = #{questionCount}
        WHERE id = #{id}
    </update>
    <!--更新收藏问题的内容-->
    <update id="updatePrivateQuestion">
        UPDATE question
        SET question_content = #{questionContent}
        WHERE question_id = #{questionId}
    </update>


    <resultMap id="QuestionEntityMap" type="questionEntity">
        <id property="questionId" column="question_id"/>
        <result property="id" column="questionnaire_id"/>
        <result property="sequence" column="sequence"/>
        <result property="star" column="star"/>
        <result property="questionContent" column="question_content"/>
    </resultMap>
</mapper>
