<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdsbbmq.wjxbx.dao.UserEntityMapper">

    <!--
        功能实现
    -->

    <!--查询-->

    <!--登录-->
    <select id="login" resultMap="userEntityMap">
        select *
        from user
        where username = #{username}
          and password = #{password}
    </select>
    <!--根据id查询-->
    <select id="selectUserById" resultMap="userEntityMap">
        select *
        from user
        where id = #{id}
    </select>
    <!--查询所有用户-->
    <select id="selectAll" resultMap="userEntityMap">
        select *
        from user
    </select>

    <!--根据分页搜寻用户-->
    <select id="selectUserByPage" parameterType="QueryEntity" resultType="UserEntity">
        SELECT *
        FROM user
        where created_by = #{id}
        <if test="type == null">
            AND status = 1
        </if>
        <if test="type == 'forbidden'">
            AND status = 0
        </if>
        AND username LIKE CONCAT('%', #{searchKeyWord}, '%')
        ORDER BY ${sortType} ${sort}
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <!--增删改-->

    <!--插入用户-->
    <insert id="insertUser" parameterType="UserEntity">
        INSERT INTO user (id, username, password, start_time, stop_time, status, created_by, creation_date,
                          last_updated_by, last_update_date)
        VALUES (#{id}, #{username}, #{password}, #{startTime}, #{stopTime}, #{status}, #{createdBy}, #{creationDate},
                #{lastUpdatedBy}, #{lastUpdateDate})
    </insert>


    <!--更新用户-->
    <update id="updateUser" parameterType="UserEntity">
        update user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="lastUpdatedBy != null">
                last_updated_by = #{lastUpdatedBy},
            </if>
            <if test="lastUpdateDate != null">
                last_update_date = #{lastUpdateDate}
            </if>
        </set>
        where id = #{id}
    </update>

    <!--根据id删除用户-->
    <delete id="deleteUserById">
        delete
        from user
        where id = #{id}
    </delete>

    <!--清空status为0的用户-->
    <delete id="deleteUserByStatus">
        delete
        from user
        where status = 0
    </delete>


    <!--
        辅助功能
    -->
    <!--查询用户登录密码-->
    <select id="selectPasswordByUsername" resultType="string">
        select password
        from user
        where username = #{username}
    </select>

    <!--修改用户密码-->
    <update id="updatePassword">
        update user
        set password = #{password}
        where username = #{username}
    </update>

    <!--禁用用户-->
    <update id="disableUser">
        update user
        set status = 0
        where id = #{id}
    </update>

    <!--启用用户-->
    <update id="enableUser">
        update user
        set status = 1
        where id = #{id}
    </update>


    <!--
        resultMap
    -->

    <resultMap id="userEntityMap" type="UserEntity">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="startTime" column="start_time"/>
        <result property="stopTime" column="stop_time"/>
        <result property="status" column="status"/>
        <result property="createdBy" column="created_by"/>
        <result property="creationDate" column="creation_date"/>
        <result property="lastUpdatedBy" column="last_updated_by"/>
        <result property="lastUpdateDate" column="last_update_date"/>
    </resultMap>


</mapper>
